@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GoogleSans';
  src: url('/fonts/GoogleSans.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax.woff2') format('woff2');
  font-style: normal;
}

body {
  font-family: 'GoogleSans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chillax', sans-serif;
}